.nav-title {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    color: #30e639;
    padding-left: 10px;
    text-shadow: 4px 0 #000;
    font-style: italic;
}

.nav {
  overflow: hidden;
  /* background-color: rgb(106, 29, 230); */
  background-color: black;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #30e639;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: black;
}

.nav-right {
  float: right;
}